.container{
  width: 1140px;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 auto;
  object-fit: contain;
}
ul{
  display: flex;
}
li{
  list-style: none;
  margin-left: 20px;
}
a{
  text-decoration: none;
  font-size: 13px;
  color: gray;
}
h1, h2, h4, h5, h6{
  color: white;
  font-family: 'Bookman Old Style';
}
